#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-color: #242424;
    align-items: center;
  }
  
.main-weather {
align-self: center;
margin-left: 25%;
}

.cards {
display: flex;
flex-direction: row;
max-height: 20%;
overflow-x:auto;
overflow-y: hidden;
}

.row {
display: inline-block;
margin-right: 10px;
margin-bottom: 10px;
}
